aiohttp~=3.8.1          # Apache-2.0
attrs~=19.3.0           # MIT
loguru~=0.6.0           # MIT
numpy>=1.13.3           # BSD
opencv-python>=4.4      # Apache-2.0
python-socketio~=5.5.0  # MIT
PyYAML>=5.1.2           # MIT
requests~=2.27.1        # MIT
Pillow>=8.0.1           # Apache-2.0
pydantic~=1.9.0         # MIT
websockets~=10.3        # BSD
tenacity~=8.0.1         # Apache-2.0
tqdm~=4.64.0            # MIT
fastapi~=0.78.0         # MIT
starlette~=0.19.1       # BSD
uvicorn[standard]       # BSD
psutil~=5.9.2           # BSD
urllib3~=1.26.12        # MIT